<article class="allTasks">
  <h1>Задания</h1>

  <!-- Путь к изображениям из HTML-фрагмента такой, как из файла index.html -->

  <ul style="display: flex; text-align: center">
    <li>
      <img src="images/switcher.jpg" alt="" width="300px" height="250px" />
      <a href="./html/task1.html" width="300px" style="display: block"
        >Задание 1 - Переключатель цветов</a
      >
    </li>
    <li>
      <img src="images/timer.jpg" alt="" width="300px" height="250px" />
      <a href="./html/task2.html" width="300px" style="display: block"
        >Задание 2 - таймер обратного отсчета</a
      >
    </li>
    <li>
      <img src="images/promise.jpg" alt="Таймер обратного отсчета" width="300px" height="250px" />
      <a href="./html/task3.html" width="300px" style="display: block"
        >Задание 3 - промисификация функций</a
      >
    </li>
  </ul>
</article>
