<header class="task3">
  <h1>Задание 3 - промисификация функций</h1>
  <a href="../index.html">В начало</a>
</header>

<section class="allTasks">
  <h2>Задачи</h2>
  <ul>
    <li>
      <a href="../html/goit-js-hw-11-promis01.html" width="300px">
        <img src="../images/promise1.jpg" alt="delay(ms)" width="300px" height="250px" />
        <p>Подзадание 1 - delay(ms)</p>
      </a>
    </li>
    <li>
      <a href="../html/goit-js-hw-11-promis02.html" width="300px">
        <img src="../images/promise2.jpg" alt="toggleUserState()" width="300px" height="250px" />
        <p>Подзадание 2 - toggleUserState()</p>
      </a>
    </li>
    <li>
      <a href="../html/goit-js-hw-11-promis03.html" width="300px">
        <img src="../images/promise3.jpg" alt="makeTransaction()" width="300px" height="250px" />
        <p>Подзадание 3 - makeTransaction()</p>
      </a>
    </li>
  </ul>
</section>
